daily_lockz/models/data/
daily_lockz/scout/downloads/
spotify/data/
extras/lego/target
daily_lockz/models/node_modules/
.cache
.DS_Store
.env
.ipynb_checkpoints
sims.csv
soccer_sims.csv
config.json
data.csv
data_w_genres.csv
config.json
