astronomy/AstroWorld/
daily_lockz/daily-lockz
daily_lockz/DailyLockz
daily_lockz/models/data/
daily_stockz/daily-stockz
daily_stockz/DailyStockz
golf/HoleInOne
spotify/ClusterJam
spotify/data/
extras/lego/lego/target
extras/lego/brickswipe
.cache
.DS_Store
.env
.ipynb_checkpoints
node_modules/
package-lock.json
package.json
all_sims.csv
sims.csv
soccer_sims.csv