astronomy/AstroWorld/
daily_lockz/daily-lockz
daily_lockz/models/data/
daily_stockz/
golf/HoleInOne
spotify/Clusterfy
spotify/clusters.csv
spotify/data/
extras/lego/target
.cache
.DS_Store
.env
.ipynb_checkpoints
node_modules/
package-lock.json
package.json
all_sims.csv
sims.csv
soccer_sims.csv